.desktop {
  background-color: #008080;
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;     // conteneur pour les absolus
  overflow: hidden;       // empêche de sortir visuellement
  --taskbar-height: 57px; // expose la hauteur au JS
}

.desktop__icons {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  height: calc(100vh - 210px); // Hauteur max pour forcer le wrap
  max-height: 750px; // Ou une valeur fixe selon vos besoins
  align-content: flex-start; // Aligne les colonnes à gauche
}

