.taskbar {
  position: absolute;
  bottom: 0;      // ← collé en bas du desktop
  left: 0;        // ← collé à gauche
  right: 0;       // ← collé à droite
  width: 100%;    // ← pleine largeur
  height: 57px;
  display: flex;
  align-items: center;
  padding: 0 4px;
  box-sizing: border-box;
  background-image: url('../../assets/taskbar-elements/TaskbarBackground.svg');
  background-repeat: repeat-x;
  background-size: auto 100%;
  z-index: 100;   // au-dessus des fenêtres
}

.startButton {
  width: 112px;
  height: 46px;
  padding-top: 5px;
  flex-shrink: 0;
  
  .logo {
    width: 100%;
    height: 100%;
    margin-right: 5px;
  }
}

.taskIcons {
  padding-left: 5px;
  padding-top: 5px;
  gap: 10px;
  flex: 1;
  display: flex;
  align-items: center;
  overflow: hidden;
  
  .elements {
    height: auto;
    max-width: 100%;
    object-fit: contain;
  }
}

.systemTray {
  display: flex;
  align-items: center;
  padding-right: 5px;
  flex-shrink: 0;
  background: #c0c0c0;
  height: 40px;
  margin-right: 2px;
  gap: 10px;
  padding-left: 5px;
  border-top: 2px inset #808080c2;
  border-left: 2px inset #808080c2;
  border-bottom: 2px inset #FFFFFF;
  border-right: 2px inset #FFFFFF;
}

.clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'MSW98UI-Regular';
  font-size: 20px;
  color: #000000d8;
  padding: 5px 6px 0px 0px;
  min-width: 60px;
  
}

.time {
  font-weight: normal;
  line-height: 1;
}
